{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>
    <hr>
    <br>

<div class="listings">
    {% for listing in listings %}
    <div class="listing">
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
        <p>{{ listing.description }}</p>
        <p>Starting bid: {{ listing.starting_bid }}</p>
        {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="Listing image">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}