{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p>Current bid: {% if highest_bid %}{{ highest_bid.bid_amount }}{% else %}{{ listing.starting_bid }}{% endif %}</p>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="Listing image">
    {% endif %}

    {% if user.is_authenticated %}
        {% if listing.id in user_watchlist_ids %}
            <a href="{% url 'remove-from-watchlist' listing.id %}">Remove from Watchlist</a>
        {% else %}
            <a href="{% url 'add-to-watchlist' listing.id %}">Add to Watchlist</a>
        {% endif %}
    {% endif %}
    <hr>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'place-bid' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Place Bid">
        </form>
    {% endif %}
    <br>
    <hr>
    {% if user.is_authenticated and user == listing.user %}
        <form action="{% url 'close-listing' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning mb-3">Close Listing</button>
    </form>
    {% endif %}
    <hr>
    <br>
    <!-- Comment form -->
    {% if user.is_authenticated %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
    {% endif %}
    <br>
    <hr>
    <!-- Display comments -->
    <div class="comments">
        <h3>Comment section</h3>
        {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.user.username }}</strong>
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

{% endblock %}